In [1]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

WARNING:tensorflow:From c:\Users\Kaustubh Pareek\Desktop\ANN Classification\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
### Load the trained model, scaler pickle,onehot
model=load_model('model.h5')

## load the encoder and scaler
with open('onehot_encoder_geo.pkl','rb') as file:
    onehot_encoder_geo=pickle.load(file)

with open('onehot_encoder_gender.pkl', 'rb') as file:
    onehot_encoder_gender = pickle.load(file)

with open('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

WARNING:tensorflow:From c:\Users\Kaustubh Pareek\Desktop\ANN Classification\venv\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [3]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [4]:
# One-hot encode 'Geography'
geo_encoded = onehot_encoder_geo.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Users\Kaustubh Pareek\Desktop\ANN Classification\venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_Germany  Geography_Spain
0                0.0              0.0

In [7]:
## onehot encode 'Gender'
gender_encoded = onehot_encoder_gender.transform([[input_data['Gender']]]).toarray()
gender_encoded_df = pd.DataFrame(gender_encoded, columns=onehot_encoder_gender.get_feature_names_out(['Gender']))
gender_encoded_df

c:\Users\Kaustubh Pareek\Desktop\ANN Classification\venv\Lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Gender_Male
0          1.0

In [8]:
input_df=pd.DataFrame([input_data])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [9]:
## concatination one hot encoded 
input_df = input_df.drop(['Geography', 'Gender'], axis=1)
input_df = pd.concat([input_df, geo_encoded_df, gender_encoded_df], axis=1)
input_df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,600,40,3,60000,2,1,1,50000,0.0,0.0,1.0

In [11]:
expected_order = ['CreditScore', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 
                  'HasCrCard', 'IsActiveMember', 'EstimatedSalary',  'Gender_Male', 'Geography_Germany', 
                  'Geography_Spain']

In [13]:
## Scaling the input data
input_df = input_df[expected_order]
input_scaled = scaler.transform(input_df)
input_scaled

array([[-0.53598516,  0.10479359, -0.69539349, -0.25781119,  0.80843615,
         0.64920267,  0.97481699, -0.87683221,  0.91324755, -0.57946723,
        -0.57638802]])

In [14]:
## Predict Churn
prediction=model.predict(input_scaled)
prediction

1/1 [==============================] - 0s 97ms/step

array([[0.05156573]], dtype=float32)

In [15]:
prediction_proba = prediction[0][0]
prediction_proba

0.051565733

In [16]:
if prediction_proba > 0.5:
    print('The customer is likely to churn.')
else:
    print('The customer is not likely to churn.')

The customer is not likely to churn.